<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.debhver.debedrijfshulpverlener" >

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="nl.debhver.debedrijfshulpverlener.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="nl.debhver.debedrijfshulpverlener.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".parse.ParseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" >
        </activity>
        <activity
            android:name=".AdminUserDefaultActivity"
            android:label="@string/title_activity_admin_user_default" >
        </activity>
        <activity
            android:name=".AdminAddUserActivity"
            android:label="@string/title_activity_admin_user_add"
            android:noHistory="true" >
        </activity>
        <activity
            android:name=".AdminAddBranchActivity"
            android:noHistory="true" >
        </activity>
        <activity
            android:name=".HomeUserActivity"
            android:label="@string/title_activity_home_user"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".AdminEquipmentAddActivity"
            android:label="@string/title_activity_admin_equipment_add"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".EmergencyManualsActivity"
            android:label="@string/title_activity_emergency_manuals">
        </activity>
        <activity
            android:name=".SingleEmergencyDetailsActivity"
            android:label="@string/title_activity_emergency_single_details">
        </activity>
        <activity
            android:name=".AdminEquipmentDefaultActivity"
            android:label="@string/title_activity_admin_equipment_default" >
        </activity>
        <activity
            android:name=".TrainingActivity"
            android:label="@string/title_activity_admin_training_default" >
        </activity>
        <activity
            android:name=".TrainingAddActivity"
            android:label="@string/title_activity_admin_training_edit" >
        </activity>
        <activity
            android:name=".AdminUserFilterActivity"
            android:label="@string/title_activity_admin_user_filter" >
        </activity>
        <activity
            android:name=".IncidentOpener"
            android:label="@string/title_activity_incident_opener" >
        </activity>
        <activity
            android:name=".AdminBranchDefaultActivity"
            android:label="@string/title_activity_admin_branch_default">
        </activity>
        <activity
            android:name=".UserEquipmentDefaultActivity"
            android:label="@string/title_activity_user_equipment_default">
        </activity>
        <activity
            android:name=".UserEquipmentShowActivity"
            android:label="@string/title_activity_user_equipment_details">
        </activity>
        <activity
            android:name=".UserIncidentDefaultActivity"
            android:label="@string/title_activity_user_incident_default">
        </activity>

        <service
            android:name="com.parse.PushService"
            />

        <receiver
            android:name=".CustomPushReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!-- IMPORTANT: Change "com.parse.starter" to match your app's package name. -->
                <category android:name="nl.debhver.debedrijfshulpverlener" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
